
.wrapper{
margin: 0 auto;
}

.thumb{
padding: 20px;
}

//Media Queries
 @include media(small){
    .wrapper{
    @include flex($dir: row, $wrap: wrap, $align-c:center);
    max-width: 240px;
     }
    }

 @include media(medium){
    .wrapper{
     max-width: 480px;
     }
    }

 @include media(large){
    .wrapper{
     max-width: 960px;
     }
    }