*{
box-sizing: border-box;
}

body{
@include styling($mar:0 auto, $bck-clr:$alabaster);
@include flex($dir:column);
font-family: $bodyfont;
min-height: 100vh;
}

.main{
border-top: 20px $shuttle-gray solid;
}

p{
@include styling($txt:center, $mar:0 auto, $pad:8px, $fnt-s:12px);
}
   
h1{
@include styling($mar-t:50px, $txt:center, $fnt-s:25px);
}

footer{
@include styling($mar-t:auto, $bck-clr:$shuttle-gray, $clr:white);
}
